.citySearch{
  font-family: 'IBM Plex Sans', sans-serif;
}
.form{
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightcoral;
  border-radius: 10px;
  padding: 0 0.5rem;
  flex-grow: 1;
}

.search input{
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  background: transparent;
}
.search img{
  width: 20px;
  height: 20px;
}

.hint, .invalid{
  background: #ecf39e;
  width: max-content;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  color: #04340c;
  font-weight: bolder;
}

.invalid{
  color: darkred;
}

@media screen and (min-width: 450px) {
  .form{
    width: 400px;
    margin: 0 auto;
    flex-direction: row;
  }
}

