.currentWeather {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  background: #ecf39e;
  box-shadow: 0 0 10px 0 var(--clr-green-800);
  gap: 1rem;
  border-radius: 10px;
  margin: 1rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.2rem;
}

.location{
  color: indianred;
}
.temperature{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  gap: 10px;
  color: var(--clr-green-900);
}

.description{
  color: indianred;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

@media screen and (min-width: 450px) {
  .currentWeather{
    width: 400px;
    margin: 1rem auto;
  }
}
